<html>
<head>
	<title>Countries & Capitals</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
	<header class="header">
		<div class="content-width">
			<h1>Countries & Capitals</h1>
		</div>
	</header>
	<main ng-app="countriesApp" class="main">
		<div ng-if="isLoading" class="loader"></div>
		<div class="content-width" ng-if="!isLoading">
			<div class="content">
				<div ng-view class="view"></div>
			</div>
		</div>
	</main>
	<script src="./combined.js"></script>
</body>
</html>