<div class="countries-container">
	<p>Filter: <input type="text" ng-model="myFilter"></p>
	<p ng-show="!filteredCountries.length">Unfortunately. there are no countries that meet the criteria specified in the filter.</p>
	<table ng-show="filteredCountries.length">
		<thead>
			<tr>
				<th>Name</th>
				<th>Country Code</th>
				<th>Capital</th>
				<th>Area in km2</th>
				<th>Population</th>
				<th>Continent</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in filteredCountries = (countries | filter: myFilter)" ng-click="redirect(c)">
				<td>{{c.countryName}}</td>
				<td>{{c.countryCode}}</td>
				<td>{{c.capital}}</td>
				<td>{{c.areaInSqKm | number}}</td>
				<td>{{c.population | number}}</td>
				<td>{{c.continent}}</td>
			</tr>
		</tbody>
	</table>
</div>

<p><a href="#/" class="btn">Home</a></p>
