/* Header */
.header {
	text-align: center;
	background-color: #089de3;
  color: #fff;
	padding: 30px;

	h1 {
		font-size: 50px;
    margin-bottom: 0px;
    color: #fff;

    @media screen and (max-width: 600px) {
      font-size: 32px;
    }
	}
}